<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>inn</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <!-- 引入组件库 -->
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
    <div style="margin-top: 100px;margin-left: 10%;margin-right: 10%;" id="app">

        <el-card class="box-card">
            <div slot="header" class="clearfix">
                <el-avatar :size="30" src="https://cube.elemecdn.com/3/7c/3ea6beec64369c2642b92c6726f1epng.png">
                </el-avatar>
                <span v-if="loginUser.nickName" v-text="loginUser.nickName + ' 登录成功'"></span>
                <el-button style="float: right; padding: 3px 0" type="text" @click="dialogVisible = true">登录</el-button>
            </div>
            <div>
                <el-tabs v-model="tabsName" type="card">
                    <el-tab-pane name="contact">
                        <span slot="label">
                            <i class="el-icon-s-custom">最近联系人</i>
                            <el-badge :value="totalUnread" v-if="totalUnread>0" size="mini"></el-badge>
                        </span>
                        <el-tabs tab-position="left" v-model="sessionTabsName" type="card"
                            @tab-click="handleSessionClick">
                            <el-tab-pane v-for="(item,k) in sessionTabs" :key="item.name" :name="item.name">
                                <span slot="label">
                                    <i v-text="item.title"></i>
                                    <el-badge :value="item.unread" v-if="item.unread>0" size="mini">
                                    </el-badge>
                                </span>
                                <el-input type="textarea" :rows="12" v-model="item.content">
                                </el-input>
                                <el-input v-model="item.input" placeholder="请输入内容" style="width: 90%;"></el-input>
                                <el-button @click="handleChat(item)">发送</el-button>
                                </el-row>
                            </el-tab-pane>
                        </el-tabs>
                    </el-tab-pane>
                    <el-tab-pane label="用户列表" name="user">
                        <el-table :data="userList" border style="width: 100%">
                            <el-table-column prop="nickName" label="用户" width="180">
                            </el-table-column>
                            <el-table-column label="操作">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="toChat(scope.row)">聊天</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </el-tab-pane>
                </el-tabs>
            </div>
        </el-card>

        <el-dialog title="登录" :visible.sync="dialogVisible" width="30%">
            <el-row>
                <el-input id="name" v-model="name" placeholder="请输入帐号">
                    <template slot="prepend">帐号</template>
                </el-input>
            </el-row>
            <el-row>
                <el-input id="password" v-model="password" type="password" placeholder="请输入密码">
                    <template slot="prepend">密码</template>
                </el-input>
            </el-row>
            <el-row>
                <el-button id="login" v-on:click="check" style="width:100%" type="primary">登录</el-button>
            </el-row>
            <span slot="footer" class="dialog-footer">
                <el-button @click="dialogVisible = false">取 消</el-button>
            </span>
        </el-dialog>



    </div>
</body>

<script type="text/javascript">

    var heartBeat = {
        timeout: 120000,
        timeoutObj: null,
        serverTimeoutObj: null,
        reset: function () {
            clearTimeout(this.timeoutObj);
            clearTimeout(this.serverTimeoutObj);
            this.start();
        },
        start: function () {
            var self = this;
            this.timeoutObj = setTimeout(() => {
                var sender_id = app.loginUser.uid;
                var sendMsgJson = '{ "type": 0, "data": {"uid":' + sender_id + ',"timeout": 120000}}';
                websocket.send(sendMsgJson);
                self.serverTimeoutObj = setTimeout(function () {
                    websocket.close();
                    this.$message.error("失去连接！")
                }, self.timeout)
            }, this.timeout)
        },
    }

    var app = new Vue({
        el: '#app',
        data() {
            return {
                dialogVisible: false,
                name: 'wistarplus@gmail.com',
                password: '123456',
                loginUser: {},
                userList: [],
                contactList: [],
                tabsName: 'contact',
                sessionTabsName: '',
                sessionTabs: [],
                tabIndex: 2,
                totalUnread: 0,
            }
        },
        methods: {
            check() {
                //获取值
                var name = this.name;
                var password = this.password;
                if (name == '' || password == '') {
                    this.$message({
                        message: '账号或密码为空！',
                        type: 'error'
                    })
                    return;
                }
                axios.post('http://localhost:8888/login', {
                    email: name,
                    pwd: password
                }).then((response) => {
                    if (response.data.code == 200) {
                        this.$message({
                            message: '登录成功',
                            type: 'success'
                        });
                        this.loginUser = response.data.data.loginUser
                        this.userList = response.data.data.userList
                        this.contactList = response.data.data.contactList.contactInfoList || []
                        this.totalUnread = response.data.data.contactList.totalUnread
                        this.contactList.forEach((contact, index) => {
                            this.addContact(contact)
                        });
                        this.initWebsocket()
                        this.dialogVisible = false
                    } else {
                        this.$message.error(response.data.msg);
                    }
                })
            },
            handleChat(row) {
                var recipient_id = row.name
                var msg_content = row.input
                var sender_id = this.loginUser.uid
                var sendMsgJson = '{ "type": 3, "data": {"senderUid":' + sender_id + ',"recipientUid":' + recipient_id + ', "content":"' + msg_content + '","msgType":1  }}';
                websocket.send(sendMsgJson);
                row.content += this.loginUser.nickName + ": " + msg_content + "\n"
            },
            initWebsocket() {
                websocket = new WebSocket("ws://localhost:8888/ws");
                websocket.onmessage = (event) => {
                    this.onmsg(event);
                };
                websocket.onopen = () => {
                    this.bind();
                    heartBeat.start();
                }
                websocket.onclose = () => {
                    this.reconnect();
                };
                websocket.onerror = () => {
                    this.reconnect();
                };
            },
            bind() { //上线
                if (window.WebSocket) {
                    if (websocket.readyState == WebSocket.OPEN) {
                        var bindJson = '{ "type": 1, "data": {"uid":' + this.loginUser.uid + ' }}';
                        websocket.send(bindJson);
                    }
                } else {
                    return;
                }
            },
            reconnect() {
                websocket = new WebSocket("ws://localhost:8888/ws");
                console.log("重新上线")
                websocket.onmessage = function (event) {
                    onmsg(event);
                };

                websocket.onopen = function () {
                    bind();
                    heartBeat.start();
                }

                websocket.onclose = function () {
                    reconnect();
                };

                websocket.onerror = function () {
                    reconnect();
                };

            },
            onmsg(event) {
                if (event != '') {
                    heartBeat.reset();
                    var resp = JSON.parse(event.data);
                    if (resp != null) {
                        console.log(resp)
                        switch (resp.type) {
                            case 1:
                                this.handleBindResp(resp);
                                break;
                            case 2:
                                this.handleQueryMsgResp(resp);
                                break;

                            case 3:
                                this.handleSendMsgResp(resp);
                                break;

                            case 4:
                                this.handleReceivedMsg(resp);
                                break;

                            case 5:
                                this.handleLoopUnreadResp(resp);
                                break;
                        }
                    }
                }
            },
            toChat(row) {
                this.addTab(row)
                this.tabsName = 'contact'
                this.sessionTabsName = row.uid + ''
            },
            addTab(row) {
                var exist = false
                this.sessionTabs.forEach(item => {
                    if (item.name == row.uid + '') {
                        exist = true
                        return
                    }
                })
                if (!exist) {
                    this.sessionTabs.push({
                        title: row.nickName,
                        name: row.uid + '',
                        content: '',
                        unread: 0,
                        input: '',
                    });
                }

            },
            addContact(row) {
                this.sessionTabs.push({
                    title: row.otherName,
                    name: row.otherUid + '',
                    content: '',
                    unread: row.convUnread,
                    minMid: row.mid,
                    input: '',
                });
            },
            handleBindResp(resp) {
                var status = resp.status;
                if (status != "" && status == 'success') {
                    this.$message({
                        message: 'websocket登录成功',
                        type: 'success'
                    });
                } else {
                    this.$message.error("未上线!");
                }
            },
            handleSendMsgResp(resp) {
                var jsonContent = resp.data;
                var tabName = jsonContent.senderId

                this.sessionTabs.forEach(item => {
                    if (item.name == tabName) {
                        item.content += item.title + ": " + jsonContent.content + "\n"
                    }
                })
            },
            handleSessionClick(tab, event) {
                var sessionTab = null
                this.sessionTabs.forEach(item => {
                    if (item.name == tab.name) {
                        sessionTab = item
                        return
                    }
                })
                if (sessionTab == null || !sessionTab.unread || sessionTab.unread <= 0) {
                    return
                }
                var owner_uid = this.loginUser.uid
                var other_uid = sessionTab.name
                var from_mid = sessionTab.minMid + 1
                var sendMsgJson = '{ "type": 2, "data": {"ownerUid":' + owner_uid + ',"otherUid":' + other_uid + ', "fromMid":"' + from_mid + '","count": ' + sessionTab.unread + ' }}';
                websocket.send(sendMsgJson);
            },
            handleQueryMsgResp(resp) {
                var messages = resp.messages
                for (let i = 0; i < this.sessionTabs.length; ++i) {
                    if (this.sessionTabs[i].name == resp.otherUid + '') {
                        this.totalUnread -= this.sessionTabs[i].unread
                        this.sessionTabs[i].unread = 0
                        messages.forEach(message => {
                            var name = ""
                            if (!message.type || message.type == 0) {
                                name = message.ownerName
                            } else if (message.type == 1) {
                                name = message.otherName
                            }
                            this.sessionTabs[i].content = name + ": " + message.content + "\n" + this.sessionTabs[i].content
                            this.sessionTabs[i].minMid = message.mid
                        })
                        break;
                    }
                }
            }
        }
    })

</script>

</html>